MVCClient/MVCClient/Service References/JobService/JobService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://kishorecomputer/JobOpenings/JobService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://kishorecomputer/JobOpenings/JobService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://kishorecomputer/JobOpenings/JobService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Job_Openings" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobService_GetListOfJobOpening_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfJobOpening" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetListOfJobOpening_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfJobOpeningResponse" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetListOfJobOpeningByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfJobOpeningByRole" />
  </wsdl:message>
  <wsdl:message name="IJobService_GetListOfJobOpeningByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfJobOpeningByRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobService">
    <wsdl:operation name="GetListOfJobOpening">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/GetListOfJobOpening" message="tns:IJobService_GetListOfJobOpening_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/GetListOfJobOpeningResponse" message="tns:IJobService_GetListOfJobOpening_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfJobOpeningByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobService/GetListOfJobOpeningByRole" message="tns:IJobService_GetListOfJobOpeningByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobService/GetListOfJobOpeningByRoleResponse" message="tns:IJobService_GetListOfJobOpeningByRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobService" type="tns:IJobService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListOfJobOpening">
      <soap:operation soapAction="http://tempuri.org/IJobService/GetListOfJobOpening" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfJobOpeningByRole">
      <soap:operation soapAction="http://tempuri.org/IJobService/GetListOfJobOpeningByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobService">
    <wsdl:port name="BasicHttpBinding_IJobService" binding="tns:BasicHttpBinding_IJobService">
      <soap:address location="http://kishorecomputer/JobOpenings/JobService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>