MVCClient/MVCClient/Service References/JobService/JobService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Job_Openings" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Job_Openings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobModel" nillable="true" type="tns:JobModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobModel" nillable="true" type="tns:ArrayOfJobModel" />
  <xs:complexType name="JobModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="JobLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobModel" nillable="true" type="tns:JobModel" />
</xs:schema>